/* Definição para layout do info view */
QTreeWidget {
    background-color: transparent;
    border: 0;
}

QTreeWidget::item { border-radius: 7px; }
QTreeWidget::item:selected { background-color: rgba(0, 100, 200, 50); }
