/* Definição para layout do info view */

/* Definição para o visualizador das informações */
QTreeWidget {
    background-color: transparent;
    border: 0;
}

/* Definição dos itens do info view */
QTreeWidget::item {
    border-radius: 7px;
}

/* Definição dos itens selecionados */
QTreeWidget::item:selected {
    background-color: rgba(0, 100, 200, 50);
}
