/* Opções para o RadioButton */
QRadioButton { width: 100px; }

QRadioButton::indicator       { width: 22px; height: 22px; }
QRadioButton::indicator:hover { margin-right: 4px; }

QRadioButton::indicator:unchecked       { /* _RADIO_UNCHECKED__ */      }
QRadioButton::indicator:checked         { /* _RADIO_CHECKED_ */         }
